div {
  background-color: yellow;
  text-align: center;
  padding: 36px;
  font-weight: 900;
  margin: 14px;
  gap: 10px;
}

article:first-child {
  display: grid;
  grid-template-columns: 1fr;
}

article:nth-child(2) {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
article:nth-child(3) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
article:nth-child(4) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
article:nth-child(5) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
article:nth-child(6) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
